/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

@media screen and (max-width: 500px) {
  body {
    font-size: 14px;
  }
}

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}

body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}




header a {
  color: #333;
  text-decoration: none;
}

.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}


/*Navbar*/

.nav-img {
  display: flex;
  width: 15%
}

header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 2%;
}


.nav-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  align-items: center;
}

.nav-container a {
  color: #fff;
  text-decoration: none;
  margin-right: 2.5%;
  align-items: center;
  padding-top: 2%;
  min-width: 10px;
}

.nav-container a:hover {
  color: yellow;
}

.nav-container a.active {
  color: red;
}

.nav-container h1 {
  margin: 0;
  font-size: 2rem;
  padding-right: 35px;
}

/*Homepage*/




/*Brewpage*/



/*BrewRecipeDetails*/